<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="member">
	<!-- 아이디 중복 체크 -->
	<select id="regIdCheck" parameterType="String" resultType="com.ds.bbs.model.member.dto.MemberDTO">
		select userId 
		from member
		where userId=#{userId}
	</select>
	
	<!-- 닉네임 중복 체크 -->
	<select id="regNiknameCheck" parameterType="String" resultType="com.ds.bbs.model.member.dto.MemberDTO">
		select userNikname 
		from member
		where userNikname=#{userNikname}
	</select>
	
	<!-- 회원가입 -->
	<insert id="register" parameterType="com.ds.bbs.model.member.dto.MemberDTO">
		insert into member (userId, userName, userNikname, userPwd) 
		values ( #{userId}, #{userName}, #{userNikname}, #{userPwd} )
	</insert>
	
	<!-- 로그인 -->
	<select id="loginCheck" resultType="com.ds.bbs.model.member.dto.MemberDTO">
		select userId, userNikname, verify
		from member
		where userId=#{userId} and userPwd=#{userPwd}
	</select>
</mapper>